.btn {
    background-color: #33FF6C;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
}

.btn:hover {
    background-color: #31df62;
    color: #000;
}